body {
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: 0.5s background ease;
  margin-left: 20px;
  margin-right: 20px;
  width: 50%;
}

.dark {
  background-color: #333;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #333;
  

}

.link {
  color: rgb(143, 81, 165);
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}


.navtext {
  display: flex;
  flex-direction: row;
   gap: 20px;
  justify-content: center;
}



.theme-switch {
  --background: #fff;
  --text: #000;
  color: var(--text);
  cursor: pointer;
  background: var(--highlight);
  border-radius: 50px;

  align-items: center;
  display: flex;


  .switch {
    background: white;

    background: var(--background);
    border-radius: 100%;
    display: flex;
    

    transition: 0.5s all ease;
  }
}

.light-theme {
  --background: #fff;
  --text: #000;
  background: var(--background);

  .theme-switch {
    background: var(--text);

    .switch {
      transform: translateX(37px);
    }
  }
  a {
    color: var(--text);
  }
}

.works {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cards {
  margin-top: 40px;
  height: auto;
  width: 200px;
  text-decoration: none;
  border: 12px solid #212c4d;
  border-radius: 20px;
  background-color: #19223e;
  color: hsl(0, 0%, 95%);
  margin: 1rem;
  padding: 2rem 0 2rem 0;
  text-align: center;
}

